<% if @post %>
    
    <h3><%= h link_to @group.name, group_info_path(@group.id) %></h3>

    <ul id="posts_list">
      <li>
        <div class="post_message_container">
            <%= h link_to @post.user.username, user_info_path(@post.user.username) %>
				<%= @post.message %>
            <div class="time_ago">
                <%= distance_of_time_in_words_to_now(@post.created_at) %> ago
            </div>
        </div>
        <div class="clear"></div>
      </li>
      <% if !@post.comments.nil? %>
        <%= render :partial => "comments_list", :locals => {:comments => @post.replies } %>
      <% end %>
      <% if user_signed_in? %>
          <li>
            <div class="new_post_message_container">
                <%- form_for Post.new do |p| -%>
                    <%= p.text_area :message %>
                    <%= p.hidden_field :group_id, :value => @group.id %>
                    <%= p.hidden_field :topic_id, :value => @post.id  %>
                    <div id="submit_button_container">
                        <%= p.submit "Reply", :class => "button ajax_button" %>
                    </div>
                <% end %>
            </div>
            <div class="clear"></div>
          </li>
      <% end %>
    </ul>

    <script type="text/javascript">
       //on page load
       $(document).ready(function() {
            $('.ajax_button').click(function(e) {
               var friend_username = $(this).attr('name');
                $.ajax({
                    type: "POST",
                    url: "/add_reply/" + friend_username,
                    success: function(msg) {
                        //alert("You are no longer following: " + msg);
                        $('#' + msg).slideUp('slow');
                    }
                });
            });
       });
    </script>

<% else %>

Post does not exist

<% end %>